* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

main {
  height: 100vh;
  background-color: aqua;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 255, 0.5),
    rgba(195, 114, 219, 0.5),
    rgba(191, 153, 202, 0.5)
  );
}

img {
  height: 100px;
  width: 100px;
}

.fetched-data {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 15px;
  margin-right: 105px;
}

.searchBar {
  height: 41px;
  border: 1px solid #767385;
  border-radius: 500px;
  padding: 10px;
  font-size: 20px;
  color: #343438;
}

.searchBar:focus {
  outline: none;
}

.search-btn {
  border-radius: 500px;
  font-size: 20px;
  border: 1px solid #767385;
  background-color: #767385;
  color: rgb(236, 226, 226);
  padding: 8px;
}

.search-btn:hover {
  color: #f7f2f2;
  background-color: #5a5963;
}

.temperature {
  color: rgb(91, 91, 128);
  font-size: 2rem;
}

.weather-type {
  color: rgb(91, 91, 128);
  font-size: 2rem;
}

.not-found {
  color: rgb(91, 91, 128);
  font-size: 2rem;
  margin-left: 50px;
}

.secondary-data {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  color: rgb(91, 91, 128);
  font-size: 2rem;
  margin-right: 52px;
}

.sun-png {
  height: 25px;
  width: 50px;
}
